@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@layer components {
  /* Stack multiselect values vertically */
  .ts-control {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  
  .ts-wrapper.multi .ts-control > div {
    margin: 2px 0 !important;
    width: fit-content !important;
  }
}